<h1> {{title}} </h1>

<div class="form-container">
  <form id="create" method="POST" action="/create/report">
    <p><label for="location">Location:</label> <input id="location" type="text" name="location" required></p>
    <p><label for="chemical">Chemical:</label> <input id="chemical" class="chemical" type="text" name="chemical" required></p>
    <p><label for="amount">Amount Released:</label> <input type="text" id="amount" name="amount"></p>
    <p><input id="addBtn" type="submit" value="Add"></p>
  </form>
</div>
