<script>
$(document).ready(function() {
  var $container = $('#search_box');

  $("#form").submit(function() {
    event.preventDefault();
    // event.stopPropagation();
    $container.hide();
    var formData = {'address' : $('input[name=search]').val()};
    console.log(formData);
    $.ajax({
      url: '/address/add',
      type: 'POST',
      contentType: "application/json; charset=utf-8",
      dataType: 'json',
      data: JSON.stringify(formData),
      encode: true
    }).done(function(result) {
      console.log(result);
      //makeGallery(result);
    })
    .fail(function(err) {
      //console.log(err);
    })
  });

  var makeGallery = function (result) {

  };
});
</script>

<div id="search_box" class="w3-panel">
  <!-- <p id="form_location">ENTER YOUR ADDRESS HERE:</p> -->
  <form id='form' method='POST' action='/address/add'>
    <input id='input_address' type="text" name="search" placeholder="ENTER ADDRESS">
  </form>
</div>
